.c-header {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #fff;
	z-index: 30;
}

@media screen and (min-width: 1001px) {
	.c-header {
		height: 80px;
		background-color: #fff;
	}
}

.c-header:before {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid #000;
}

@media screen and (min-width: 1001px) {
	.c-header {
		background: linear-gradient(
			90deg,
			#fff 0%,
			#fff 34.95%,
			#53565a 34.95%,
			#53565a 100%
		);
	}
	.c-header {
		background: linear-gradient(
			90deg,
			#fff 0%,
			#fff 347px,
			#53565a 347px,
			#53565a 100%
		);
	}

	.c-header:before {
		display: none;
	}

	.c-header:after {
		position: absolute;
		content: '';
		top: 0;
		bottom: 0;
		left: 247.5px;
		border-top: 80px solid transparent;
		border-right: 100px solid #53565a;
		border-left: none;
		z-index: -1;
	}
}
@media screen and (min-width: 1101px) {
	.c-header {
		background: linear-gradient(
			90deg,
			#fff 0%,
			#fff 31.45%,
			#53565a 31.45%,
			#53565a 100%
		);
	}

	.c-header:before {
		display: none;
	}

	.c-header:after {
		position: absolute;
		content: '';
		top: 0;
		bottom: 0;
		left: auto;
		right: 68.5%;
		border-top: 80px solid transparent;
		border-right: 100px solid #53565a;
		border-left: none;
		z-index: -1;
	}
}

.c-header__wrapper {
	width: 100%;
	height: inherit;
}

.c-header__container {
	position: absolute;
	left: -5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: inherit;
}

@media screen and (min-width: 1001px) {
	.c-header__container {
		max-width: 1263px;
		left: 20px;
		right: 20px;
	}
}

.c-header__titleBox {
	display: block;
	height: auto;
	width: auto;
}
.c-header__titleBox:hover {
	opacity: 0.8;
}

.c-header__logo {
	width: 200px;
	height: auto;
}

.c-header__navBox {
	display: none;
	margin-left: auto;
}

@media screen and (min-width: 1001px) {
	.c-header__navBox {
		display: block;
		height: inherit;
		width: auto;
		margin-left: 10px;
	}
}

@media screen and (min-width: 1001px) {
	.c-header__navLists {
		display: flex;
		height: inherit;
		width: auto;
	}
	.c-header__navLists > li {
		display: table;
		height: inherit;
		width: auto;
	}
	.c-header__navLists > li > a {
		display: table-cell;
		vertical-align: middle;
		height: inherit;
		width: auto;
		padding: 0 15px;

		font-size: 0.875rem;
		font-weight: 800;
		color: #fff;
	}
}

.c-header__search01 {
	margin-left: calc(30 / 1366 * 100vw);
	/* margin-left: 30px; */
	margin-left: 0;
}

.c-header__search01 {
	display: none;
}

@media screen and (min-width: 1001px) {
	.c-header__search01 {
		display: block;
	}
}

.c-search01 {
	width: calc(230 / 1366 * 100vw);
	max-width: 230px;
	/* min-width: 150px; */
	height: 30px;
}

.c-search01 dl {
	position: relative;
	width: inherit;
	max-width: 230px;
	height: inherit;
	border: 1px solid;
	border-radius: 0;
}

.c-search01 dl dt {
	width: inherit;
	max-width: 230px;
	height: inherit;
	padding: 0px;
}
.c-search01 dl dt input {
	width: inherit;
	max-width: 230px;
	height: inherit;
	line-height: 30px;
	background: none;
	border: none;
	padding: 0 35px 0 10px;
	background-color: #c4c3c3;
}
.c-search01 dl dt input:focus {
	background-color: #fff;
}
.c-search01 dl dt input::placeholder {
	font-weight: 300;
	color: #fff;
	font-size: 0.875rem;
}

.c-search01 dl dd {
	position: absolute;
	top: 0;
	right: -2px;
}
.c-search01 dl dd button {
	display: block;
	padding: 8px;
	background: none;
	border: none;
}
.c-search01 dl dd button span {
	display: block;
	width: 14px;
	height: 14px;
	background-image: url('../img/siteSearch01.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.c-header__hamburger {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	display: block;
	z-index: 100;
}

@media screen and (min-width: 1001px) {
	.c-header__hamburger {
		display: none;
	}
}

.c-header__hamburger span {
	position: relative;
	display: block;
	height: 3px;
	width: 20px;
	background-color: #000;
	transition: ease 0.5s;
}

.c-header__hamburger span:nth-child(1) {
	top: 0;
}
.c-header__hamburger span:nth-child(2) {
	margin: 5px 0;
}
.c-header__hamburger span:nth-child(3) {
	top: 0;
}

.c-header__hamburger.open span:nth-child(1) {
	top: 8px;
	transform: rotate(405deg);
}

.c-header__hamburger.open span:nth-child(2) {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	opacity: 0;
}

.c-header__hamburger.open span:nth-child(3) {
	top: -8px;
	transform: rotate(-405deg);
}

/* ===================================================== */

.c-headerSub {
	display: none;
	width: 100vw;
	padding: 20px 20px;
	background-color: #53565a;
}

.c-headerSub > ul {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 20px;
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
}

.c-headerSub > ul > li {
	width: 175px;
}

.c-headerSub > ul > li > a {
	display: block;
	width: 100%;
	padding: 0 20px 14px 0;
	font-family: 'メイリオ', Meiryo, sans-serif;
	font-size: 0.875rem;
	font-weight: bold;
	color: #fff;
	position: relative;
	border-bottom: 1px solid #fff;
}

.c-headerSub > ul > li > a:before {
	position: absolute;
	display: block;
	content: '';
	top: calc(50% - 7px);
	right: 0;
	width: 9px;
	height: 9px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: translate(-50%, -50%) rotate(45deg);
}

.c-headerSub > ul > li > a:after {
	position: absolute;
	display: block;
	content: '';
	top: calc(50% - 7px);
	right: 0;
	width: 11px;
	height: 2px;
	border-bottom: 2px solid #fff;
	transform: translate(-50%, -50%);
}

.c-headerSub > ul > li > ul {
	margin-top: 10px;
	width: 100%;
}

.c-headerSub > ul > li > ul > li {
	width: 100%;
}
.c-headerSub > ul > li > ul > li > a {
	display: block;
	font-family: 'メイリオ', Meiryo, sans-serif;
	font-size: 0.75rem;
	font-weight: normal;
	padding: 1px 0 1px 10px;
	color: #fff;
	position: relative;
}
.c-headerSub > ul > li > ul > li > a:before {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: '';
	width: 6px;
	height: 12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

/* .c-header .c-headerSub .is-active{
  display: block;
  transition: opacity 0.3s;
  z-index: 1;
} */

/* =================================================================== */

.c-breadcrumbSP__lists li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.c-breadcrumbSP__lists li a {
	display: inline-block;
	width: inherit;
	height: inherit;
	font-size: 0.875rem;
}

.c-breadcrumbSP__lists li:after {
	display: inline-block;
	content: '/';

	font-size: 0.875rem;
	padding: 0;
	margin: 0;
}
.c-breadcrumbSP__lists li:last-child::after {
	display: none;
}

/* =================================================================== */

.c-breadcrumbPC__lists li {
	display: inline-block;
}
.c-breadcrumbPC__lists li a {
	display: inline-block;

	font-size: 0.875rem;
}

.c-breadcrumbPC__lists li:after {
	display: inline-block;
	content: '/';

	font-size: 0.875rem;
	padding: 0 3px;
}
.c-breadcrumbPC__lists li:last-child::after {
	display: none;
}

/* ==================================================================== */

.c-h1Title {
	font-size: 1.375rem;
	font-weight: bold;
}

@media screen and (min-width: 768px) {
	.c-h1Title {
		font-size: 2.125rem;
	}
}

.c-h2Title--twoUnderLine {
	font-size: 1.125rem;
	font-weight: bold;
	width: 100%;
	padding: 20px 0;
	position: relative;
}

@media screen and (min-width: 768px) {
	.c-h2Title--twoUnderLine {
		font-size: 1.75rem;
	}
}

.c-h2Title--twoUnderLine:before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 0.45em;
	bottom: 0.9em;
	left: 0;
	right: 0;
	transform: translateY(100%);
	border-left: none;
	border-right: none;
	border-top: 2px solid #53565a;
	border-bottom: 1px dashed #53565a;
}

@media screen and (min-width: 768px) {
	.c-h2Title--twoUnderLine:before {
		bottom: 0.45em;
	}
}

.c-h3Title--bgBlack {
	font-size: 1rem;
	font-weight: bold;

	color: #fff;
	width: 100%;
	padding: 5px 10px;
	background-color: #53565a;
}

@media screen and (min-width: 768px) {
	.c-h3Title--bgBlack {
		font-size: 1.25rem;
	}
}

.c-h3Title--bgWhite {
	font-size: 1rem;
	font-weight: bold;
}

@media screen and (min-width: 768px) {
	.c-h3Title--bgWhite {
		font-size: 1.25rem;
	}
}

.c-paragraph--oneUnderLine {
	font-size: 0.875rem;
	font-weight: bold;
	position: relative;
}

@media screen and (min-width: 768px) {
	.c-paragraph--oneUnderLine {
		font-size: 1rem;
	}
}

.c-paragraph--oneUnderLine:before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 0;
	bottom: -0.55em;
	left: 0;
	right: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #53565a;
}

.c-paragraph--bgGray {
	font-size: 0.875rem;
	font-weight: normal;
	color: #53565a;
	padding: 5px 10px;
	background-color: #d9d9d6;
}

@media screen and (min-width: 768px) {
	.c-paragraph--bgGray {
		font-size: 1rem;
	}
}

.c-oneCol__imgBox {
	width: 100%;
	height: auto;
	background-color: #f2f2f2;
}

@media screen and (min-width: 768px) {
	.c-oneCol__imgBox {
		height: auto;
	}
}

.c-oneCol__imgBox--empty {
	height: 200px;
}

@media screen and (min-width: 768px) {
	.c-oneCol__imgBox--empty {
		height: 524px;
	}
}

.c-oneCol__imgBox img {
	width: 100%;
	object-fit: cover;
}

.c-oneCol__textBox {
	margin-top: 17px;
}

@media screen and (min-width: 768px) {
	.c-oneCol__textBox {
		margin-top: 15px;
	}
}

.c-twoCol__contentsBox {
	/* margin-top: 16px; */

	font-size: 0.875rem;
	font-weight: normal;
}

@media screen and (min-width: 768px) {
	.c-twoCol__contentsBox {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 30px;
	}
}

@media screen and (min-width: 768px) {
	.c-twoCol__textBox {
		width: calc(50% - 15px);
	}
}

.c-twoCol__imgBox {
	margin-top: 21px;
	width: 100%;
	height: auto;
	background-color: #f2f2f2;
}

@media screen and (min-width: 768px) {
	.c-twoCol__imgBox {
		margin-top: 0;
		width: calc(50% - 15px);
		height: auto;
	}
}
.c-twoCol__imgBox--empty {
	height: 190px;
}

@media screen and (min-width: 768px) {
	.c-twoCol__imgBox--empty {
		height: 240px;
	}
}

.c-twoCol__contentsItem {
	margin-top: 21px;
	width: 100%;
	height: auto;
}

@media screen and (min-width: 768px) {
	.c-twoCol__contentsItem {
		width: calc(50% - 15px);
		height: auto;
	}
}

@media screen and (min-width: 768px) {
	.c-twoColSP {
		display: none;
	}
}

.c-twoColSP__contentsBox {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.c-twoColSP__imgBox {
	width: calc(50% - 7px);
	height: auto;
	background-color: #f2f2f2;
}
.c-twoColSP__imgBox--empty {
	height: 90px;
}

.c-threeCol__contentsBox {
	margin-top: 20px;
}

@media screen and (min-width: 768px) {
	.c-threeCol__contentsBox {
		margin-top: 16px;
	}
}

@media screen and (min-width: 768px) {
	.c-threeColLists {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 30px;
	}
}

.c-threeColCard:not(:first-child) {
	margin-top: 22px;
}

@media screen and (min-width: 768px) {
	.c-threeColCard {
		width: calc(calc(100% - 60px) / 3);
	}
	.c-threeColCard:not(:first-child) {
		margin-top: 0;
	}
}

.c-threeColCard__imgBox {
	width: 100%;
	height: auto;
	background-color: #f2f2f2;
}

@media screen and (min-width: 768px) {
	.c-threeColCard__imgBox {
		height: auto;
	}
}
.c-threeColCard__imgBox--empty {
	height: 296px;
}

@media screen and (min-width: 768px) {
	.c-threeColCard__imgBox--empty {
		height: 240px;
	}
}

.c-threeColCard__textBox {
	margin-top: 17px;
}

.c-fourCol__contentsBox {
	margin-top: 20px;
}

@media screen and (min-width: 768px) {
	.c-fourCol__contentsBox {
		margin-top: 20px;
	}
}

@media screen and (min-width: 768px) {
	.c-fourColLists {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 30px;
	}
}

.c-fourColLists__item + .c-fourColLists__item {
	margin-top: 22px;
}

@media screen and (min-width: 768px) {
	.c-fourColLists__item + .c-fourColLists__item {
		margin-top: 0;
	}
}

.c-fourColCard__imgBox {
	width: 100%;
	height: auto;
	background-color: #f2f2f2;
}

@media screen and (min-width: 768px) {
	.c-fourColCard__imgBox {
		height: auto;
	}
}

.c-fourColCard__imgBox--empty {
	height: 273px;
}

@media screen and (min-width: 768px) {
	.c-fourColCard__imgBox--empty {
		height: 160px;
	}
}

.c-fourColCard__textBox {
	margin-top: 17px;
}

@media screen and (min-width: 768px) {
	.c-fourColCard__textBox {
		margin-top: 13px;
	}
}

@media screen and (min-width: 768px) {
	.c-fourColSP {
		display: none;
	}
}

.c-fourColSP__contentsBox {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	column-gap: 14px;
	row-gap: 20px;
}

.c-fourColSP__imgBox {
	width: calc(50% - 7px);
	height: auto;
	background-color: #f2f2f2;
}
.c-fourColSP__imgBox--empty {
	height: 90px;
}

.c-txtL3 {
	font-size: 1.375rem;
}

@media screen and (min-width: 768px) {
	.c-txtL3 {
		font-size: 2.125rem;
	}
}

.c-txtL2 {
	font-size: 1.125rem;
}

@media screen and (min-width: 768px) {
	.c-txtL2 {
		font-size: 1.75rem;
	}
}

.c-txtL1 {
	font-size: 1rem;
	font-weight: bold;
}

@media screen and (min-width: 768px) {
	.c-txtL1 {
		font-size: 1.25rem;
	}
}

.c-textD--liquid {
	font-size: calc(14 / 375 * 100vw);
}

@media screen and (min-width: 768px) {
	.c-textD--liquid {
		font-size: calc(16 / 1366 * 100vw);
	}
}

.c-txtS1 {
	font-size: 0.75rem;
	color: #53565a;
}

@media screen and (min-width: 768px) {
	.c-txtS1 {
		font-size: 0.875rem;
	}
}

@media screen and (min-width: 768px) {
	.c-txtS2 {
		font-size: 0.75rem;
		color: #53565a;
	}
}

.c-bgYellow {
	/*  */
	padding: 0 0 6px;
	background-color: #ffee1c;
}

.c-bold {
	font-weight: bold;
}

.c-inlineBlock {
	display: inline-block;
}

.c-width100per {
	width: 100%;
}

.c-displayTable {
	display: table;
}

.c-displayTableCell {
	display: table-cell;
}

.c-textLeft {
	text-align: left;
}

.c-txtCenter {
	text-align: center;
}

.c-textRight {
	text-align: right;
}

.c-chekedMark {
	padding-left: 30px;
	position: relative;
}

.c-chekedMark:before {
	position: absolute;
	top: 40%;
	left: 0.3em;
	transform: translateY(-50%) rotate(45deg);
	display: block;
	content: '';
	width: 0.5em;
	height: 1.2em;
	border-right: 2px solid #e61211;
	border-bottom: 2px solid #e61211;
}

.c-centerDot {
	padding-left: 15px;
	position: relative;
}

.c-centerDot:before {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	display: block;
	content: '';
	width: 0.25em;
	height: 0.25em;
	border-radius: 50%;
	background-color: #261919;
}

.c-centerSquare {
	padding-left: 9px;
	position: relative;
}

.c-centerSquare:before {
	position: absolute;
	top: 50%;
	left: 2px;
	transform: translateY(-50%);
	display: block;
	content: '';
	width: 5px;
	height: 5px;
	background-color: #53565a;
	background-color: red;
}

.c-textLink--blue {
	display: inline-block;
	color: #0080d0;
	text-decoration: underline;
}
.c-textLink--orange {
	display: inline-block;
	color: #ff8200;
	text-decoration: underline;
}
.c-textLink {
	display: inline-block;
	color: #53565a;
	text-decoration: underline;
}

.c-bgF8F7F7 {
	background-color: #f8f7f7;
}

.c-borderAFAFAF {
	border: 1px solid #afafaf;
}

.c-padding-A {
	padding: 16px 10px 0px;
}

@media screen and (min-width: 768px) {
	.c-padding-A {
		padding: 13px 19px 19px;
	}
}

@media screen and (min-width: 768px) {
	.c-backgroundF8F7F7__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 30px;
	}
}

.c-padding-B {
	padding: 3px 10px 14px;
}

@media screen and (min-width: 768px) {
	.c-padding-B {
		padding: 13px 19px;
	}
}

.c-borderE5E5E5 {
	border: 6px solid #e5e5e5;
}

.c-padding-C {
	padding: 0px 4px 8px;
}

@media screen and (min-width: 768px) {
	.c-padding-C {
		padding: 9px 14px 7px;
	}
}

.c-twoColSP__textBox {
	width: calc(50% - 7.5px);
}

.c-bgGray {
	background-color: #f8f7f7;
	border: 1px solid #afafaf;
}

.c-padding-D {
	padding: 5px 10px 13px;
}

.c-tableOfContents {
	padding: 16px;
	border: 3px solid #e5e5e5;
}

.c-tableOfContents__h1 {
	font-size: 1rem;
	font-weight: bold;
}

@media screen and (min-width: 768px) {
	.c-tableOfContents__h1 {
		font-size: 1.25rem;
	}
}

.c-tableOfContents__h2 {
	font-size: 1rem;
}

@media screen and (min-width: 768px) {
	.c-tableOfContents__h2 {
		font-size: 1.25rem;
	}
}

.c-tableOfContents__p {
	margin-top: 9px;
	text-indent: 0.8em;
	font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
	.c-tableOfContents__p {
		margin-top: 8px;
		text-indent: 1.3em;
		font-size: 1rem;
	}
}

.c-solidLine {
	display: block;
	width: 100%;
	height: 1px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #261919;
}

.c-dottedLine {
	display: block;
	width: 100%;
	height: 1px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px dotted #261919;
}

.c-slantLine {
	height: 4px;
	border: none;
	background-size: 4px 4px;
	background-image: repeating-linear-gradient(
		45deg,
		#53565a 0,
		#53565a 1px,
		transparent 0,
		transparent 50%
	);
}

.c-padding-13_10_15 {
	padding: 10px 10px 15px;
}

.c-anchorOneColBox {
	padding: 10px 10px 15px;
	background-color: #f0f0f0;
	row-gap: 10px;
}

.c-anchorOneCol + .c-anchorOneCol {
	margin-top: 10px;
}

.c-anchorOneCol {
	display: block;
	width: 100%;
	padding: 5px 5px 26px;
	background-color: #fff;
	font-size: 0.875rem;
	text-align: center;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	position: relative;
}

@media screen and (min-width: 768px) {
	.c-anchorOneCol {
		font-size: 1rem;

		padding: 10px 5px 30px;
	}
}

.c-anchorOneCol:after {
	position: absolute;
	bottom: 12px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #53565a;
	border-right: 2px solid #53565a;
}

.c-anchorTwoColBox {
	padding: 11px 10px 15px;
	background-color: #f0f0f0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
}

@media screen and (min-width: 768px) {
	.c-anchorTwoColBox {
		padding: 20px;
	}
}

.c-anchorTwoCol {
	display: block;
	width: calc(50% - 5px);
	padding: 6px 5px 25px;
	background-color: #fff;
	font-size: 0.875rem;
	text-align: center;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	position: relative;
}

@media screen and (min-width: 768px) {
	.c-anchorTwoCol {
		font-size: 1rem;

		padding: 10px 5px 30px;
	}
}

.c-anchorTwoCol:after {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #53565a;
	border-right: 2px solid #53565a;
}

.c-anchorFourColBox {
	padding: 11px 10px 15px;
	background-color: #f0f0f0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
}

@media screen and (min-width: 768px) {
	.c-anchorFourColBox {
		padding: 20px;
	}
}

.c-anchorFourCol {
	display: block;
	width: calc(25% - 15px);
	padding: 6px 5px 25px;
	background-color: #fff;

	font-size: 0.875rem;

	color: #53565a;
	text-align: center;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	position: relative;
}

@media screen and (min-width: 768px) {
	.c-anchorFourCol {
		font-size: 1rem;

		padding: 10px 5px 30px;
	}
}

.c-anchorFourCol:after {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #53565a;
	border-right: 2px solid #53565a;
}

.c-imageAndTextBox {
	padding: 11px 10px 15px;
	background-color: #f0f0f0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
}

@media screen and (min-width: 768px) {
	.c-imageAndTextBox {
		padding: 20px;
		gap: 20px;
	}
}

.c-imageAndTextBox__imgBox2 {
	display: block;
	width: calc(50% - 5px);
	height: auto;
	background-color: #f2f2f2;
	position: relative;
	background-color: #53565a;
}

@media screen and (min-width: 768px) {
	.c-imageAndTextBox__imgBox2 {
		width: calc(25% - 15px);
		height: auto;
	}
}
.c-imageAndTextBox__imgBox2--empty {
	height: 109px;
}

@media screen and (min-width: 768px) {
	.c-imageAndTextBox__imgBox2--empty {
		height: 158px;
	}
}

.c-anchorBox {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 3;
}

.c-anchorUnderHalf {
	display: block;
	width: 100%;
	padding: 6px 5px 25px;
	background-color: #fff;
	font-size: 0.875rem;
	text-align: center;
	position: relative;
}

@media screen and (min-width: 768px) {
	.c-anchorUnderHalf {
		font-size: 1rem;
	}
}

.c-anchorUnderHalf:after {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #53565a;
	border-right: 2px solid #53565a;
}

.c-anchorUnderHalf--liquid {
	font-size: calc(14 / 375 * 100vw);
}

@media screen and (min-width: 768px) {
	.c-anchorUnderHalf--liquid {
		font-size: calc(16 / 1366 * 100vw);
	}
}

.c-tableA {
	width: 100%;
	text-align: center;
}

.c-tableA th {
	background-color: #f0f0f2;
}

.c-tableA tr:first-of-type th {
	padding: 5px 8px 7px;
	/* background-color: red; */
}

.c-tableA tr:not(:first-of-type) td {
	padding: 0 7px;
}

.c-tableA th,
.c-tableA td {
	border: 1px solid #c3c3c3;
	text-align: left;
	vertical-align: top;
}

.c-tableA tr th {
	font-size: 0.875rem;

	font-weight: normal;
	height: auto;
	overflow-y: scroll;
}

.c-tableA tr th:first-child {
	width: 22.318840579%;

	padding: 5px 8px;
}
.c-tableA tr td {
	font-size: 0.875rem;

	font-weight: normal;
}

.c-tableA tr td p {
	height: auto;
	max-height: 166px;
	overflow-y: scroll;
	padding: 7px 0 0;
}

.c-tableBbox {
	overflow-x: scroll;
}

.c-tableB {
	width: 900px;
	text-align: center;
}
@media screen and (min-width: 768px) {
	.c-tableB {
		width: 100%;
	}
}

.c-tableB tr:first-of-type {
	background-color: #f0f0f2;
}

.c-tableB tr:first-of-type th {
	padding: 3px 8px 9px;
	width: 330px;

	font-size: 1rem;

	font-weight: normal;
}

.c-tableB tr:not(:first-of-type) td {
	padding: 0 9px;
}

.c-tableB th,
.c-tableB td {
	border: 1px solid #c3c3c3;
	text-align: left;
	vertical-align: top;
}

.c-tableB tr th {
	font-size: 1rem;

	font-weight: normal;
}

.c-tableB tr th:first-child {
	width: 242px;

	font-size: 1rem;

	font-weight: normal;
	padding: 3px 8px;
}
.c-tableB tr td {
	font-size: 1rem;

	font-weight: normal;
}

.c-tableB tr td p {
	height: auto;
	max-height: 166px;
	overflow-y: scroll;
	padding: 6px 0 3px;
}

.c-transBtnBox {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.c-transBtn--bgOrange {
	display: block;
	width: 100%;
	padding: 13px 20px 22px;

	font-size: 1rem;
	font-weight: bold;

	text-align: left;
	color: #fff;
	background-color: #ff8200;
	position: relative;
}

@media screen and (min-width: 768px) {
	.c-transBtn--bgOrange {
		width: 345px;
		padding: 13px 20px 22px 20px;
	}
}

.c-transBtn--bgOrange:before {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%);
	display: block;
	content: '';
	width: 0.6em;
	height: 2px;
	border-bottom: 2px solid #fff;
}
.c-transBtn--bgOrange:after {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%) rotate(-45deg);
	display: block;
	content: '';
	width: 0.55em;
	height: 0.55em;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.c-transBtn--bgDarkblue {
	display: block;
	width: 100%;
	padding: 13px 20px 22px;

	font-size: 1rem;
	font-weight: bold;

	text-align: left;
	color: #fff;
	background-color: #002855;
	position: relative;
}

@media screen and (min-width: 768px) {
	.c-transBtn--bgDarkblue {
		width: 345px;
		padding: 13px 20px 22px 20px;
	}
}

.c-transBtn--bgDarkblue:before {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%);
	display: block;
	content: '';
	width: 0.6em;
	height: 2px;
	border-bottom: 2px solid #fff;
}
.c-transBtn--bgDarkblue:after {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%) rotate(-45deg);
	display: block;
	content: '';
	width: 0.55em;
	height: 0.55em;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.c-transBtn--bgRed {
	display: block;
	width: 100%;
	padding: 13px 20px 22px;

	font-size: 1rem;
	font-weight: bold;

	text-align: left;
	color: #fff;
	background-color: #e61211;
	position: relative;
}

@media screen and (min-width: 768px) {
	.c-transBtn--bgRed {
		width: 345px;
		padding: 13px 20px 22px 20px;
	}
}

.c-transBtn--bgRed:before {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%);
	display: block;
	content: '';
	width: 0.6em;
	height: 2px;
	border-bottom: 2px solid #fff;
}
.c-transBtn--bgRed:after {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%) rotate(-45deg);
	display: block;
	content: '';
	width: 0.55em;
	height: 0.55em;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.c-transBtn--bgDarkGray {
	display: block;
	width: 100%;
	padding: 13px 20px 22px;
	font-size: 1rem;
	font-weight: bold;
	text-align: left;
	color: #fff;
	background-color: #53565a;
	position: relative;
}

@media screen and (min-width: 768px) {
	.c-transBtn--bgDarkGray {
		width: 345px;
		padding: 13px 20px 22px 20px;
	}
}

.c-transBtn--bgDarkGray:before {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%);
	display: block;
	content: '';
	width: 0.6em;
	height: 2px;
	border-bottom: 2px solid #fff;
}
.c-transBtn--bgDarkGray:after {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%) rotate(-45deg);
	display: block;
	content: '';
	width: 0.55em;
	height: 0.55em;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.c-transBtn--bgLimegreen {
	display: block;
	width: 100%;
	padding: 13px 20px 22px;

	font-size: 1rem;
	font-weight: bold;

	text-align: left;
	color: #fff;
	background-color: #00bfb3;
	position: relative;
}

@media screen and (min-width: 768px) {
	.c-transBtn--bgLimegreen {
		width: 345px;
		padding: 13px 20px 22px 20px;
	}
}

.c-transBtn--bgLimegreen:before {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%);
	display: block;
	content: '';
	width: 0.6em;
	height: 2px;
	border-bottom: 2px solid #fff;
}
.c-transBtn--bgLimegreen:after {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%) rotate(-45deg);
	display: block;
	content: '';
	width: 0.55em;
	height: 0.55em;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.c-transBtn--skyBlue {
	display: block;
	width: 100%;
	padding: 13px 20px 22px;

	font-size: 1rem;
	font-weight: bold;

	text-align: left;
	color: #fff;
	background-color: #00b5e2;
	position: relative;
}

@media screen and (min-width: 768px) {
	.c-transBtn--skyBlue {
		width: 345px;
		padding: 13px 20px 22px 20px;
	}
}

.c-transBtn--skyBlue:before {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%);
	display: block;
	content: '';
	width: 0.6em;
	height: 2px;
	border-bottom: 2px solid #fff;
}
.c-transBtn--skyBlue:after {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%) rotate(-45deg);
	display: block;
	content: '';
	width: 0.55em;
	height: 0.55em;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.c-transBtn--lineOrange {
	display: block;
	width: 100%;
	padding: 13px 20px 22px;

	font-size: 1rem;
	font-weight: bold;

	text-align: left;
	border: 1px solid #ff8200;
	color: #ff8200;
	position: relative;
}

@media screen and (min-width: 768px) {
	.c-transBtn--lineOrange {
		width: 345px;
		padding: 13px 20px 22px 20px;
	}
}

.c-transBtn--lineOrange:before {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%);
	display: block;
	content: '';
	width: 0.6em;
	height: 2px;
	border-bottom: 2px solid #ff8200;
}
.c-transBtn--lineOrange:after {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%) rotate(-45deg);
	display: block;
	content: '';
	width: 0.55em;
	height: 0.55em;
	border-right: 2px solid #ff8200;
	border-bottom: 2px solid #ff8200;
}

.c-transBtn--lineDarkblue {
	display: block;
	width: 100%;
	padding: 13px 20px 22px;

	font-size: 1rem;
	font-weight: bold;

	text-align: left;
	border: 1px solid #002855;
	color: #002855;
	position: relative;
}

@media screen and (min-width: 768px) {
	.c-transBtn--lineDarkblue {
		width: 345px;
		padding: 13px 20px 22px 20px;
	}
}

.c-transBtn--lineDarkblue:before {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%);
	display: block;
	content: '';
	width: 0.6em;
	height: 2px;
	border-bottom: 2px solid #002855;
}
.c-transBtn--lineDarkblue:after {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%) rotate(-45deg);
	display: block;
	content: '';
	width: 0.55em;
	height: 0.55em;
	border-right: 2px solid #002855;
	border-bottom: 2px solid #002855;
}

.c-transBtn--lineRed {
	display: block;
	width: 100%;
	padding: 13px 20px 22px;

	font-size: 1rem;
	font-weight: bold;

	text-align: left;
	border: 1px solid #e61211;
	color: #e61211;
	position: relative;
}

@media screen and (min-width: 768px) {
	.c-transBtn--lineRed {
		width: 345px;
		padding: 13px 20px 22px 20px;
	}
}

.c-transBtn--lineRed:before {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%);
	display: block;
	content: '';
	width: 0.6em;
	height: 2px;
	border-bottom: 2px solid #e61211;
}
.c-transBtn--lineRed:after {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%) rotate(-45deg);
	display: block;
	content: '';
	width: 0.55em;
	height: 0.55em;
	border-right: 2px solid #e61211;
	border-bottom: 2px solid #e61211;
}

.c-transBtn--lineGray {
	display: block;
	width: 100%;
	padding: 13px 20px 22px;
	font-size: 1rem;
	font-weight: bold;
	text-align: left;
	border: 1px solid #53565a;
	color: #53565a;
	position: relative;
}

@media screen and (min-width: 768px) {
	.c-transBtn--lineGray {
		width: 345px;
		padding: 13px 20px 22px 20px;
	}
}

.c-transBtn--lineGray:before {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%);
	display: block;
	content: '';
	width: 0.6em;
	height: 2px;
	border-bottom: 2px solid #53565a;
}
.c-transBtn--lineGray:after {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%) rotate(-45deg);
	display: block;
	content: '';
	width: 0.55em;
	height: 0.55em;
	border-right: 2px solid #53565a;
	border-bottom: 2px solid #53565a;
}

.c-transBtn--lineLimegreen {
	display: block;
	width: 100%;
	padding: 13px 20px 22px;

	font-size: 1rem;
	font-weight: bold;

	text-align: left;
	border: 1px solid #00bfb3;
	color: #00bfb3;
	position: relative;
}

@media screen and (min-width: 768px) {
	.c-transBtn--lineLimegreen {
		width: 345px;
		padding: 13px 20px 22px 20px;
	}
}

.c-transBtn--lineLimegreen:before {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%);
	display: block;
	content: '';
	width: 0.6em;
	height: 2px;
	border-bottom: 2px solid #00bfb3;
}
.c-transBtn--lineLimegreen:after {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%) rotate(-45deg);
	display: block;
	content: '';
	width: 0.55em;
	height: 0.55em;
	border-right: 2px solid #00bfb3;
	border-bottom: 2px solid #00bfb3;
}

.c-transBtn--lineSkyblue {
	display: block;
	width: 100%;
	padding: 13px 20px 22px;

	font-size: 1rem;
	font-weight: bold;

	text-align: left;
	border: 1px solid #00b5e2;
	color: #00b5e2;
	position: relative;
}

@media screen and (min-width: 768px) {
	.c-transBtn--lineSkyblue {
		width: 345px;
		padding: 13px 20px 22px 20px;
	}
}

.c-transBtn--lineSkyblue:before {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%);
	display: block;
	content: '';
	width: 0.6em;
	height: 2px;
	border-bottom: 2px solid #00b5e2;
}
.c-transBtn--lineSkyblue:after {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translateY(-50%) rotate(-45deg);
	display: block;
	content: '';
	width: 0.55em;
	height: 0.55em;
	border-right: 2px solid #00b5e2;
	border-bottom: 2px solid #00b5e2;
}

.c-twoColTransBtn--bgOrange {
	display: block;
	width: calc(50% - 7.5px);
	padding: 7px 20px 31px;

	font-size: 0.875rem;
	font-weight: bold;

	text-align: center;
	color: #fff;
	background-color: #ff8200;
	position: relative;
}

.c-twoColTransBtn--bgOrange:before {
	position: absolute;
	bottom: 1em;
	left: 50%;
	transform: translate(-50%, 50%);
	display: block;
	content: '';
	width: 0.8em;
	height: 2px;
	border-bottom: 2px solid #fff;
}
.c-twoColTransBtn--bgOrange:after {
	position: absolute;
	bottom: 1em;
	left: 50%;
	transform: translate(-50%, 50%) rotate(-45deg);
	display: block;
	content: '';
	width: 0.55em;
	height: 0.55em;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.c-twoColTransBtn--lineOrange {
	display: block;
	width: calc(50% - 7.5px);
	padding: 7px 20px 31px;

	font-size: 0.875rem;
	font-weight: bold;

	text-align: center;
	color: #ff8200;
	border: 1px solid #ff8200;
	position: relative;
}

.c-twoColTransBtn--lineOrange:before {
	position: absolute;
	bottom: 1em;
	left: 50%;
	transform: translate(-50%, 50%);
	display: block;
	content: '';
	width: 0.8em;
	height: 2px;
	border-bottom: 2px solid #ff8200;
}
.c-twoColTransBtn--lineOrange:after {
	position: absolute;
	bottom: 1em;
	left: 50%;
	transform: translate(-50%, 50%) rotate(-45deg);
	display: block;
	content: '';
	width: 0.55em;
	height: 0.55em;
	border-right: 2px solid #ff8200;
	border-bottom: 2px solid #ff8200;
}

/* =========================================================================== */

.c-textOrange {
	color: #ff8200;
}
.c-textDarkblue {
	color: #002855;
}
.c-textRed {
	color: #e61211;
}
.c-textGray {
	color: #53565a;
}
.c-textLimegreen {
	color: #00bfb3;
}
.c-textSkyblue {
	color: #00b5e2;
}

.rowGap20 {
	row-gap: 20px;
}

/* ================================================================ */

.c-secTitle {
	font-size: 1.125rem;
	font-weight: bold;
	width: 100%;
	padding: 20px 0;
	position: relative;
}
@media screen and (min-width: 768px) {
	.c-secTitle {
		font-size: 1.75rem;
		padding: 15px 0;
	}
}

.c-secTitle:before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 8px;
	bottom: 8px;
	left: 0;
	right: 0;
	transform: translateY(100%);
	border-left: none;
	border-right: none;
	border-top: 2px solid #53565a;
	border-bottom: 1px dashed #53565a;
}

@media screen and (min-width: 768px) {
	.c-secTitle:before {
		border-top: 3px solid #53565a;
		bottom: 0;
	}
}

.c-secTitleToggleBtn {
	display: block;
	content: '';
	width: 30px;
	height: 30px;
	border: 1px solid #53565a;
	border-radius: 50%;
	position: relative;
}

.c-secTitleToggleBtn:before {
	position: absolute;
	display: block;
	content: '';
	width: 12px;
	height: 2px;
	background-color: #53565a;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.c-secTitleToggleBtn:after {
	position: absolute;
	display: block;
	content: '';
	width: 2px;
	height: 12px;
	background-color: #53565a;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.c-sectionSubTitle {
	font-size: 1rem;
	font-weight: normal;
}

@media screen and (min-width: 768px) {
	.c-sectionSubTitle {
		font-size: 1.25rem;
	}
}

@media screen and (min-width: 768px) {
	.c-newsListsHeadItem {
		font-size: 0.75rem;
	}
}

/* =================================================================== */

.c-prevPagination {
	display: flex;
	align-items: center;
	width: 30px;
	height: 30px;
	border: 1px solid #000;
	border-radius: 50%;
	position: relative;
	background-color: #fff;
}

@media screen and (min-width: 768px) {
	.c-prevPagination {
		display: inline-block;
		vertical-align: sub;
	}
}

.c-prevPagination:before {
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 2px;
	background-color: #000;
	top: 10px;
	left: 45%;
	transform: translateX(-50%) rotate(-45deg);
}
.c-prevPagination:after {
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 2px;
	background-color: #000;
	top: 16px;
	left: 45%;
	transform: translateX(-50%) rotate(45deg);
}

.c-nextPagination {
	display: flex;
	align-items: center;
	width: 30px;
	height: 30px;
	border: 1px solid #000;
	border-radius: 50%;
	position: relative;
	background-color: #fff;
}

@media screen and (min-width: 768px) {
	.c-nextPagination {
		display: inline-block;
		vertical-align: sub;
	}
}

.c-nextPagination:before {
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 2px;
	background-color: #000;
	top: 10px;
	left: 55%;
	transform: translateX(-50%) rotate(45deg);
}
.c-nextPagination:after {
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 2px;
	background-color: #000;
	top: 16px;
	left: 55%;
	transform: translateX(-50%) rotate(-45deg);
}

/* ================================================================== */
.c-upMark {
	font-family: 'メイリオ', Meiryo, sans-serif;
	font-size: 0.875rem;
	font-weight: normal;
	color: #e61211;
	margin-left: 12px;
}

.c-newMark {
	font-family: 'Courgette', cursive, sans-serif;
	font-size: 1rem;
	font-weight: normal;
	color: #e61211;
}
.c-date {
	font-size: 1rem;
}
.c-client {
	font-size: 0.75rem;
	color: #fff;
	background-color: #53565a;
	padding: 1px 5px;
}

.c-pdfImage {
	display: block;
	width: 28px;
	height: 33px;
	object-fit: contain;
	object-position: center;
}

.c-blankImage {
	display: block;
	width: 28px;
	height: 33px;
	padding: 7px 4px;
}

.c-blankImage a {
	display: block;

	width: 20px;
	height: 20px;
	object-fit: contain;
	object-position: center;
}

/* ============================================================ */

.c-pageTop {
	display: block;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	background-color: #53565a;
	position: relative;
}

.c-pageTop:before {
	position: absolute;
	display: block;
	content: '';
	width: 8px;
	height: 8px;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

/* ================================================================= */

.c-accordionToggleBtn {
	display: block;
	width: 24px;
	height: 24px;
	border: 1px solid #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 24 px;
	color: #fff;
	cursor: pointer;
	position: relative;
}

.c-accordionToggleBtn:before {
	position: absolute;
	display: block;
	content: '';
	background-color: #fff;
	width: 10px;
	height: 2px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.c-accordionToggleBtn:after {
	position: absolute;
	display: block;
	content: '';
	background-color: #fff;
	width: 2px;
	height: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.c-copy {
	font-family: 'メイリオ', Meiryo, sans-serif;
	font-size: 0.75rem;
	color: #fff;
}

/* ================================================================ */

.c-contentsSearch {
	width: 100%;
}

.c-contentsSearch dl {
	position: relative;
	border: 1px solid #53565a;
	border-radius: 0;
}

.c-contentsSearch dl dt {
	padding: 0px;
}
.c-contentsSearch dl dt input {
	width: 100%;
	height: 48px;
	line-height: 30px;
	background: none;
	border: none;
	padding: 3px 30px 3px 6px;
	background-color: #fff;
}
.c-contentsSearch dl dt input:focus {
	background-color: #fff;
}
.c-contentsSearch dl dt input::placeholder {
	color: gainsboro;

	font-size: 1rem;
	font-weight: normal;
}

.c-contentsSearch dl dd {
	position: absolute;
	top: 0;
	right: 0;
}
.c-contentsSearch dl dd button {
	display: block;
	padding: 16px 10px;
	background: none;
	border: none;
}
.c-contentsSearch dl dd button span {
	display: block;
	width: 18px;
	height: 18px;
	background-image: url('../img/contentsSearch.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

/* ================================================================== */

.c-sideBarTitle {
	font-size: 1.25rem;
	font-weight: normal;
	border-bottom: 2px solid #53565a;
	padding-bottom: 12px;
	/* position: relative; */
}

/* .c-sideBarTitle:before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	bottom: -12px;
	border-bottom: 2px solid #53565a;
} */

.c-topSideBarTitle {
	font-family: 'メイリオ', Meiryo, serif;
	font-size: 0.875rem;
	font-weight: normal;
	border-bottom: 2px solid #53565a;
	padding-bottom: 12px;
	/* position: relative; */
}

/* .c-topSideBarTitle:before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	bottom: -12px;
	border-bottom: 2px solid #53565a;
} */

/* ======================================================================= */

.c-side__contentsSearch {
	margin-top: 25px;
}

.c-findCategory__container {
	margin-top: 20px;
	width: 100%;
}

.c-findCategory__button {
	display: block;
	width: 100%;
	padding: 13px 10px;
	font-size: 1rem;

	font-weight: bold;
	text-align: center;
	background-color: #f2f2f2;
	border: 1px solid #53565a;
}

.c-findCategory__button + .c-findCategory__button {
	margin-top: 10px;
}

.c-findClient__container {
	margin-top: 20px;
	width: 100%;
}

.c-findClient__lists {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	column-gap: 5px;
	row-gap: 13px;
}

.c-findClient__lists li a {
	display: block;
	padding: 1px 8px;
	line-height: 15px;
	text-align: center;
	font-size: 0.75rem;
	color: #fff;
	background-color: #53565a;
}

.c-findTag__container {
	margin-top: 20px;
	width: 100%;
}
.c-findTag__lists {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	column-gap: 10px;
	row-gap: 10px;
}

.c-findTag__lists li a {
	display: block;
	width: auto;
	text-align: center;
	height: 100%;
	font-size: 0.75rem;
	padding: 1px 10px;
	border: 1px solid #d6d6d6;
	border-radius: 12px;
	background-color: #f5f5f5;
}

.c-findArchive__yearBox {
	position: relative;
}

.c-ArchiveYear {
	font-family: 'メイリオ', Meiryo, sans-serif;
	font-size: 0.875rem;
	font-weight: normal;
	cursor: pointer;
	margin-top: 20px;
	position: relative;
}

.c-ArchiveYear:before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 0;
	bottom: -0.55em;
	left: 0;
	right: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #53565a;
}

.c-accordion__toggleBtn--sideBar {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.c-accordionToggleBtn--sideBar {
	display: block;
	width: 24px;
	height: 24px;
	border: 1px solid #53565a;
	border-radius: 50%;
	text-align: center;
	line-height: 24px;
	color: #fff;
	cursor: pointer;
	/* position: relative; */
}

.c-accordionToggleBtn--sideBar:before {
	position: absolute;
	display: block;
	content: '';
	background-color: #53565a;
	width: 10px;
	height: 2px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.c-accordionToggleBtn--sideBar:after {
	position: absolute;
	display: block;
	content: '';
	background-color: #53565a;
	width: 2px;
	height: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.c-findArchive__yearBox .c-accordionToggleBtn--sideBar:before {
	transition: all 0.5s;
}

.c-findArchive__yearBox .c-accordionToggleBtn--sideBar:after {
	transition: all 0.5s;
}

.c-findArchive__yearBox.open .c-accordionToggleBtn--sideBar:before {
	transform: translate(-50%, -50%) rotate(450deg);
	opacity: 0;
}

.c-findArchive__yearBox.open .c-accordionToggleBtn--sideBar:after {
	transform: translate(-50%, -50%) rotate(450deg);
}

.c-findArchive__monthsLists {
	margin-top: 16px;
	display: none;
	width: 100%;
	height: auto;
}
.c-findArchive__monthsLists li {
	margin-top: 13px;
}
.c-findArchive__monthsLists li a {
	display: block;
	width: 100%;
	font-family: 'メイリオ', Meiryo, sans-serif;
	font-size: 0.875rem;
	font-weight: normal;

	color: #0094e2;
	text-decoration: underline;
}

.c-freeInput {
	width: 100%;
	padding: 15px;
	background-color: #53565a;
}
.c-freeInput__text {
	font-size: 1rem;
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.c-sideContactImg {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	row-gap: 15px;
}

@media screen and (min-width: 768px) {
	.c-sideContactImg {
		justify-content: flex-start;
		margin-top: 40px;
		column-gap: 10px;
	}
}

.c-sideContactImg__imgBox {
	display: block;
	width: calc(50% - 15px / 2);
	height: calc(calc(100vw - 15px * 3) / 2);
	max-height: 360px;
	position: relative;
	border-radius: 35px;
}

@media screen and (min-width: 768px) {
	.c-sideContactImg__imgBox {
		width: 120px;
		height: 120px;
		border-radius: 10px;
	}
	.c-sideContactImg__imgBox:first-child {
		margin-left: 0;
	}
}

.c-sideContactImg__imgBox img {
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
	border-radius: 35px;
}

@media screen and (min-width: 768px) {
	.c-sideContactImg__imgBox img {
		border-radius: 10px;
	}
}

.c-sideContactImg__textBox {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: gray;
	font-size: calc(32 / 767 * 100vw);
	text-align: center;
	color: #fff;
	font-weight: normal;
	z-index: 3;
	display: table;
	padding: calc(30 / 767 * 100vw) calc(20 / 767 * 100vw);
}

@media screen and (min-width: 768px) {
	.c-sideContactImg__textBox {
		font-size: 2rem;
		padding: 30px 20px;
	}
}

.c-sideContactImg__textBox--cover {
	height: 100%;
	border-radius: 20px;
}
.c-sideContactImg__textBox--half {
	height: 50%;
	border-radius: 0 0 20px 20px;
}

.c-sideContactImg__text {
	display: table-cell;
	vertical-align: middle;
}

.c-sideContactImg__text--cover {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

/* ============================================================================================ */
.c-pager__lists {
	margin: 0;
	padding: 0;
	font-size: 0;
}

.c-pager__lists li {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	text-align: center;
	border: 1px solid gray;
	border-right: none;
}
.c-pager__lists li:first-child,
.c-pager__lists li:last-child {
	width: 39px;
	text-align: center;
}
.c-pager__lists li:last-child {
	border: 1px solid gray;
}

.c-pager__lists li a {
	display: block;
	font-family: 'メイリオ', Meiryo, sans-serif;
	font-size: 0.875rem;
	text-align: center;
	width: auto;
	height: auto;
	padding: 7px 9.5px;
}
.c-pager__lists li a:hover {
	background-color: red;
}

/* ============================================================================ */

.c-pageTopBox {
	width: 40px;
	height: 40px;
}

/* ========================================================== */

.c-footer {
	background-color: #53565a;
	padding-top: 10px;
}

@media screen and (min-width: 1001px) {
	.c-footer__container01 {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 30px;
		margin-top: 30px;
	}
}

.c-accordion {
	width: 100%;
	padding: 0;
}

@media screen and (min-width: 1001px) {
	.c-accordion {
		width: calc(25% - 31px * 3 / 4);
	}
}

.c-accordion__labelBox {
	display: block;
	width: 100%;
	padding: 15px 0;
	border-bottom: 2px solid #fff;
	cursor: pointer;
	position: relative;
}

.c-accordion__label {
	font-size: 0.875rem;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}

@media screen and (min-width: 1001px) {
	.c-accordion__label {
		font-size: 1rem;
	}
}

.c-accordion__toggleBtn {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

@media screen and (min-width: 1001px) {
	.c-accordion__toggleBtn {
		display: none;
	}
}

.c-accordion__labelBox .c-accordion__toggleBtn:before {
	transition: all 0.5s;
}

.c-accordion__labelBox .c-accordion__toggleBtn:after {
	transition: all 0.5s;
}

.c-accordion__labelBox.open .c-accordion__toggleBtn:before {
	transform: translate(-50%, -50%) rotate(450deg);
	opacity: 0;
}

.c-accordion__labelBox.open .c-accordion__toggleBtn:after {
	transform: translate(-50%, -50%) rotate(450deg);
}

.c-accordion__lists {
	display: none;
	width: 100%;
	height: auto;
}

@media screen and (min-width: 1001px) {
	.c-accordion__lists {
		display: block;
		padding-top: 17px;
	}
}

.c-accordion__lists li {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #bbbcbc;
}

@media screen and (min-width: 1001px) {
	.c-accordion__lists li {
		border-bottom: none;
	}
}

.c-accordion__lists li a {
	display: block;
	padding: 14px 0;
	width: 100%;
	height: 100%;

	font-size: 0.875rem;
	font-weight: normal;
	color: #fff;
	position: relative;
}

@media screen and (min-width: 1001px) {
	.c-accordion__lists li a {
		font-size: 1rem;

		padding: 6px 0 6px 13px;
		color: #ffffff;
	}
}

.c-accordion__lists li a:before {
	position: absolute;
	display: block;
	content: '';
	top: 50%;
	right: 0;
	width: 9px;
	height: 9px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: translate(-50%, -50%) rotate(45deg);
}

@media screen and (min-width: 1001px) {
	.c-accordion__lists li a:before {
		top: 8px;
		left: 0;
		width: 7px;
		height: 10px;
		border-top: none;
		border-right: none;
		border-left: 2px solid #fff;
		border-bottom: 2px solid #fff;
		transform: translate(0, 0) rotate(0deg);
	}
}

.c-accordion__lists li a:after {
	position: absolute;
	display: block;
	content: '';
	top: 50%;
	right: 0;
	width: 11px;
	height: 2px;
	border-bottom: 2px solid #fff;
	transform: translate(-50%, -50%);
}

@media screen and (min-width: 1001px) {
	.c-accordion__lists li a:after {
		display: none;
	}
}

/* =================================================================== */
.c-footer__contactImg {
	margin-top: 30px;
}

.c-contactImg {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	row-gap: 15px;
}

@media screen and (min-width: 1001px) {
	.c-contactImg {
		justify-content: flex-start;
		margin-top: 40px;
		column-gap: 10px;
	}
}

.c-contactImg__imgBox {
	display: block;
	width: calc(50% - 15px / 2);
	height: calc(calc(100vw - 15px * 3) / 2);
	max-height: 360px;
	position: relative;
	border-radius: 35px;
}

@media screen and (min-width: 1001px) {
	.c-contactImg__imgBox {
		width: 120px;
		height: 120px;
		border-radius: 10px;
	}
	.c-contactImg__imgBox:first-child {
		margin-left: 0;
	}
}

.c-contactImg__imgBox img {
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
	border-radius: 35px;
}

@media screen and (min-width: 1001px) {
	.c-contactImg__imgBox img {
		border-radius: 10px;
	}
}

.c-contactImg__textBox {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: gray;
	font-size: calc(32 / 767 * 100vw);
	text-align: center;
	color: #fff;
	font-weight: normal;
	z-index: 3;
	display: table;
	padding: calc(30 / 767 * 100vw) calc(20 / 767 * 100vw);
}

@media screen and (min-width: 1001px) {
	.c-contactImg__textBox {
		font-size: 2rem;
		padding: 30px 20px;
	}
}

.c-contactImg__textBox--cover {
	height: 100%;
	border-radius: 20px;
}
.c-contactImg__textBox--half {
	height: 50%;
	border-radius: 0 0 20px 20px;
}

.c-contactImg__text {
	display: table-cell;
	vertical-align: middle;
}

.c-contactImg__text--cover {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.c-footer__utilityNavi {
	margin-top: 18px;
}

@media screen and (min-width: 1001px) {
	.c-footer__utilityNavi {
		margin-top: 35px;
	}
}

.c-footerUtility__lists {
	width: 100%;
}

@media screen and (min-width: 1001px) {
	.c-footerUtility__lists {
		display: flex;
		flex-wrap: wrap;
	}
}
.c-footerUtility__lists li {
	width: 100%;
	height: auto;
	display: table;
}
@media screen and (min-width: 1001px) {
	.c-footerUtility__lists li {
		width: auto;
	}
}
.c-footerUtility__lists li a {
	display: table-cell;
	font-family: 'メイリオ', Meiryo, sans-serif;
	font-size: 0.875rem;
	color: #fff;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	padding: 10px 0 10px 20px;
	position: relative;
}

@media screen and (min-width: 1001px) {
	.c-footerUtility__lists li a {
		height: auto;
		padding: 5px 22px;
	}
	.c-footerUtility__lists li:first-of-type a {
		padding-left: 0;
	}
}

.c-footerUtility__lists li a:before {
	position: absolute;
	display: block;
	content: '';
	top: 50%;
	left: 0;
	width: 9px;
	height: 9px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: translate(30%, -50%) rotate(45deg);
}

@media screen and (min-width: 1001px) {
	.c-footerUtility__lists li a:before {
		top: 50%;
		left: 0;
		width: 2px;
		height: 12px;
		border-top: none;
		border-right: none;
		border-left: 1px solid #fff;
		transform: translate(0, -50%) rotate(0deg);
	}

	.c-footerUtility__lists li:first-of-type a:before {
		display: none;
	}
}

.c-footerUtility__lists li a:after {
	position: absolute;
	display: block;
	content: '';
	top: 50%;
	left: 0;
	width: 11px;
	height: 2px;
	border-bottom: 2px solid #fff;
	transform: translate(0, -50%);
}

@media screen and (min-width: 1001px) {
	.c-footerUtility__lists li a:after {
		display: none;
	}
}

.c-footer__copyBox {
	margin-top: 15px;
	height: auto;
}

@media screen and (min-width: 1001px) {
	.c-footer__copyBox {
		text-align: right;
		margin-top: 35px;
	}
}

.c-footer__logo {
	margin-top: 20px;
}

@media screen and (min-width: 1001px) {
	.c-footer__logo {
		margin-top: 60px;
	}
}

.c-footerLogo {
	text-align: center;
	font-size: 2rem;
	color: #fff;
	background-color: #98989a;
}

.c-footerLogo__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0 30px;
}

@media screen and (min-width: 1001px) {
	.c-footerLogo__container {
		flex-direction: row;
		padding: 20px 0 30px;
	}
}

.c-footerLogo__logoBox--1 {
	display: block;
	width: 240px;
}

@media screen and (min-width: 1001px) {
	.c-footerLogo__logoBox--1 {
		width: 200px;
	}
}

.c-footerLogo__logoBox--2 {
	display: block;
	width: 300px;
	margin-top: 40px;
}

@media screen and (min-width: 1001px) {
	.c-footerLogo__logoBox--2 {
		width: 240px;
		margin-top: 0;
	}
}

.c-solidboldLine {
	display: block;
	width: 100%;
	height: 1px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #261919;
}
