.SPnone {
	display: none;
}
.SPblock {
	display: block;
}
@media screen and (min-width: 768px) {
	.PCnone {
		display: none;
	}
	.PCblock {
		display: block;
	}
}

.SPmt0 {
	margin-top: 0;
}
.SPmt1 {
	margin-top: 1px;
}
.SPmt2 {
	margin-top: 2px;
}
.SPmt3 {
	margin-top: 3px;
}
.SPmt4 {
	margin-top: 4px;
}
.SPmt5 {
	margin-top: 5px;
}
.SPmt6 {
	margin-top: 6px;
}
.SPmt7 {
	margin-top: 7px;
}
.SPmt8 {
	margin-top: 8px;
}
.SPmt9 {
	margin-top: 9px;
}
.SPmt10 {
	margin-top: 10px;
}
.SPmt11 {
	margin-top: 11px;
}
.SPmt12 {
	margin-top: 12px;
}
.SPmt13 {
	margin-top: 13px;
}
.SPmt14 {
	margin-top: 14px;
}
.SPmt15 {
	margin-top: 15px;
}
.SPmt16 {
	margin-top: 16px;
}
.SPmt17 {
	margin-top: 17px;
}
.SPmt18 {
	margin-top: 18px;
}
.SPmt19 {
	margin-top: 19px;
}
.SPmt20 {
	margin-top: 20px;
}
.SPmt21 {
	margin-top: 21px;
}
.SPmt22 {
	margin-top: 22px;
}
.SPmt23 {
	margin-top: 23px;
}
.SPmt24 {
	margin-top: 24px;
}
.SPmt25 {
	margin-top: 25px;
}
.SPmt26 {
	margin-top: 26px;
}
.SPmt27 {
	margin-top: 27px;
}
.SPmt28 {
	margin-top: 28px;
}
.SPmt29 {
	margin-top: 29px;
}
.SPmt30 {
	margin-top: 30px;
}
.SPmt31 {
	margin-top: 31px;
}
.SPmt32 {
	margin-top: 32px;
}
.SPmt33 {
	margin-top: 33px;
}
.SPmt34 {
	margin-top: 34px;
}
.SPmt35 {
	margin-top: 35px;
}
.SPmt36 {
	margin-top: 36px;
}
.SPmt37 {
	margin-top: 37px;
}
.SPmt38 {
	margin-top: 38px;
}
.SPmt39 {
	margin-top: 39px;
}
.SPmt40 {
	margin-top: 40px;
}
.SPmt50 {
	margin-top: 50px;
}
.SPmt60 {
	margin-top: 60px;
}
.SPmt70 {
	margin-top: 70px;
}
.SPmt80 {
	margin-top: 80px;
}
.SPmt90 {
	margin-top: 90px;
}
.SPmtA {
	margin-top: 395px;
}

@media screen and (min-width: 768px) {
	.PCmt-40 {
		margin-top: -40px;
	}
	.PCmt-39 {
		margin-top: -39px;
	}
	.PCmt-38 {
		margin-top: -38px;
	}
	.PCmt-37 {
		margin-top: -37px;
	}
	.PCmt-36 {
		margin-top: -36px;
	}
	.PCmt-35 {
		margin-top: -35px;
	}
	.PCmt-34 {
		margin-top: -34px;
	}
	.PCmt-33 {
		margin-top: -33px;
	}
	.PCmt-32 {
		margin-top: -32px;
	}
	.PCmt-31 {
		margin-top: -31px;
	}
	.PCmt-30 {
		margin-top: -30px;
	}
	.PCmt-29 {
		margin-top: -29px;
	}
	.PCmt-28 {
		margin-top: -28px;
	}
	.PCmt-27 {
		margin-top: -27px;
	}
	.PCmt-26 {
		margin-top: -26px;
	}
	.PCmt-25 {
		margin-top: -25px;
	}
	.PCmt-24 {
		margin-top: -24px;
	}
	.PCmt-23 {
		margin-top: -23px;
	}
	.PCmt-22 {
		margin-top: -22px;
	}
	.PCmt-21 {
		margin-top: -21px;
	}
	.PCmt-20 {
		margin-top: -20px;
	}
	.PCmt-19 {
		margin-top: -19px;
	}
	.PCmt-18 {
		margin-top: -18px;
	}
	.PCmt-17 {
		margin-top: -17px;
	}
	.PCmt-16 {
		margin-top: -16px;
	}
	.PCmt-15 {
		margin-top: -15px;
	}
	.PCmt-14 {
		margin-top: -14px;
	}
	.PCmt-13 {
		margin-top: -13px;
	}
	.PCmt-12 {
		margin-top: -12px;
	}
	.PCmt-11 {
		margin-top: -11px;
	}
	.PCmt-10 {
		margin-top: -10px;
	}
	.PCmt-9 {
		margin-top: -9px;
	}
	.PCmt-8 {
		margin-top: -8px;
	}
	.PCmt-7 {
		margin-top: -7px;
	}
	.PCmt-6 {
		margin-top: -6px;
	}
	.PCmt-5 {
		margin-top: -5px;
	}
	.PCmt-4 {
		margin-top: -4px;
	}
	.PCmt-3 {
		margin-top: -3px;
	}
	.PCmt-2 {
		margin-top: -2px;
	}
	.PCmt-1 {
		margin-top: -1px;
	}
	.PCmt0 {
		margin-top: 0;
	}
	.PCmt1 {
		margin-top: 1px;
	}
	.PCmt2 {
		margin-top: 2px;
	}
	.PCmt3 {
		margin-top: 3px;
	}
	.PCmt4 {
		margin-top: 4px;
	}
	.PCmt5 {
		margin-top: 5px;
	}
	.PCmt6 {
		margin-top: 6px;
	}
	.PCmt7 {
		margin-top: 7px;
	}
	.PCmt8 {
		margin-top: 8px;
	}
	.PCmt9 {
		margin-top: 9px;
	}
	.PCmt10 {
		margin-top: 10px;
	}
	.PCmt11 {
		margin-top: 11px;
	}
	.PCmt12 {
		margin-top: 12px;
	}
	.PCmt13 {
		margin-top: 13px;
	}
	.PCmt14 {
		margin-top: 14px;
	}
	.PCmt15 {
		margin-top: 15px;
	}
	.PCmt16 {
		margin-top: 16px;
	}
	.PCmt17 {
		margin-top: 17px;
	}
	.PCmt18 {
		margin-top: 18px;
	}
	.PCmt19 {
		margin-top: 19px;
	}
	.PCmt20 {
		margin-top: 20px;
	}
	.PCmt21 {
		margin-top: 21px;
	}
	.PCmt22 {
		margin-top: 22px;
	}
	.PCmt23 {
		margin-top: 23px;
	}
	.PCmt24 {
		margin-top: 24px;
	}
	.PCmt25 {
		margin-top: 25px;
	}
	.PCmt26 {
		margin-top: 26px;
	}
	.PCmt27 {
		margin-top: 27px;
	}
	.PCmt28 {
		margin-top: 28px;
	}
	.PCmt29 {
		margin-top: 29px;
	}
	.PCmt30 {
		margin-top: 30px;
	}
	.PCmt31 {
		margin-top: 31px;
	}
	.PCmt32 {
		margin-top: 32px;
	}
	.PCmt33 {
		margin-top: 33px;
	}
	.PCmt34 {
		margin-top: 34px;
	}
	.PCmt35 {
		margin-top: 35px;
	}
	.PCmt36 {
		margin-top: 36px;
	}
	.PCmt37 {
		margin-top: 37px;
	}
	.PCmt38 {
		margin-top: 38px;
	}
	.PCmt39 {
		margin-top: 39px;
	}
	.PCmt40 {
		margin-top: 40px;
	}
	.PCmt41 {
		margin-top: 41px;
	}
	.PCmt42 {
		margin-top: 42px;
	}
	.PCmt43 {
		margin-top: 43px;
	}
	.PCmt44 {
		margin-top: 44px;
	}
	.PCmt45 {
		margin-top: 45px;
	}
	.PCmt46 {
		margin-top: 46px;
	}
	.PCmt47 {
		margin-top: 47px;
	}
	.PCmt48 {
		margin-top: 48px;
	}
	.PCmt49 {
		margin-top: 49px;
	}
	.PCmt50 {
		margin-top: 50px;
	}
	.PCmt60 {
		margin-top: 60px;
	}
	.PCmt70 {
		margin-top: 70px;
	}
	.PCmt80 {
		margin-top: 80px;
	}
	.PCmt90 {
		margin-top: 90px;
	}
	.PCmtA {
		margin-top: 137px;
	}
}

.bold {
	font-weight: bold;
}

.ml10 {
	margin-left: 10px;
}
.ml20 {
	margin-left: 10px;
}
.ml30 {
	margin-left: 10px;
}
.ml40 {
	margin-left: 10px;
}
.ml50 {
	margin-left: 10px;
}
.ml60 {
	margin-left: 10px;
}
.ml70 {
	margin-left: 10px;
}
.ml80 {
	margin-left: 10px;
}
.ml90 {
	margin-left: 10px;
}

.mt1 {
	margin-top: 1px;
}
.mt2 {
	margin-top: 2px;
}
.mt3 {
	margin-top: 3px;
}
.mt4 {
	margin-top: 4px;
}
.mt5 {
	margin-top: 5px;
}
.mt6 {
	margin-top: 6px;
}
.mt7 {
	margin-top: 7px;
}
.mt8 {
	margin-top: 8px;
}
.mt9 {
	margin-top: 9px;
}
.mt10 {
	margin-top: 10px;
}
.mt11 {
	margin-top: 11px;
}
.mt12 {
	margin-top: 12px;
}
.mt13 {
	margin-top: 13px;
}
.mt14 {
	margin-top: 14px;
}
.mt15 {
	margin-top: 15px;
}
.mt16 {
	margin-top: 16px;
}
.mt17 {
	margin-top: 17px;
}
.mt18 {
	margin-top: 18px;
}
.mt19 {
	margin-top: 19px;
}
.mt20 {
	margin-top: 20px;
}
.mt21 {
	margin-top: 21px;
}
.mt22 {
	margin-top: 22px;
}
.mt23 {
	margin-top: 23px;
}
.mt24 {
	margin-top: 24px;
}
.mt25 {
	margin-top: 25px;
}
.mt26 {
	margin-top: 26px;
}
.mt27 {
	margin-top: 27px;
}
.mt28 {
	margin-top: 28px;
}
.mt29 {
	margin-top: 29px;
}
.mt30 {
	margin-top: 30px;
}
.mt31 {
	margin-top: 31px;
}
.mt32 {
	margin-top: 32px;
}
.mt33 {
	margin-top: 33px;
}
.mt34 {
	margin-top: 34px;
}
.mt35 {
	margin-top: 35px;
}
.mt36 {
	margin-top: 36px;
}
.mt37 {
	margin-top: 37px;
}
.mt38 {
	margin-top: 38px;
}
.mt39 {
	margin-top: 39px;
}
.mt40 {
	margin-top: 40px;
}
.mt41 {
	margin-top: 41px;
}
.mt42 {
	margin-top: 42px;
}
.mt43 {
	margin-top: 43px;
}
.mt44 {
	margin-top: 44px;
}
.mt45 {
	margin-top: 45px;
}
.mt46 {
	margin-top: 46px;
}
.mt47 {
	margin-top: 47px;
}
.mt48 {
	margin-top: 48px;
}
.mt49 {
	margin-top: 49px;
}
.mt50 {
	margin-top: 50px;
}
.mt51 {
	margin-top: 51px;
}
.mt52 {
	margin-top: 52px;
}
.mt53 {
	margin-top: 53px;
}
.mt54 {
	margin-top: 54px;
}
.mt55 {
	margin-top: 55px;
}
.mt56 {
	margin-top: 56px;
}
.mt57 {
	margin-top: 57px;
}
.mt58 {
	margin-top: 58px;
}
.mt59 {
	margin-top: 59px;
}
.mt60 {
	margin-top: 60px;
}
.mt61 {
	margin-top: 61px;
}
.mt62 {
	margin-top: 62px;
}
.mt63 {
	margin-top: 63px;
}
.mt64 {
	margin-top: 64px;
}
.mt65 {
	margin-top: 65px;
}
.mt66 {
	margin-top: 66px;
}
.mt67 {
	margin-top: 67px;
}
.mt68 {
	margin-top: 68px;
}
.mt69 {
	margin-top: 69px;
}
.mt70 {
	margin-top: 70px;
}
.mt71 {
	margin-top: 71px;
}
.mt72 {
	margin-top: 72px;
}
.mt73 {
	margin-top: 73px;
}
.mt74 {
	margin-top: 74px;
}
.mt75 {
	margin-top: 75px;
}
.mt76 {
	margin-top: 76px;
}
.mt77 {
	margin-top: 77px;
}
.mt78 {
	margin-top: 78px;
}
.mt79 {
	margin-top: 79px;
}
.mt80 {
	margin-top: 80px;
}
.mt81 {
	margin-top: 81px;
}
.mt82 {
	margin-top: 82px;
}
.mt83 {
	margin-top: 83px;
}
.mt84 {
	margin-top: 84px;
}
.mt85 {
	margin-top: 85px;
}
.mt86 {
	margin-top: 86px;
}
.mt87 {
	margin-top: 87px;
}
.mt88 {
	margin-top: 88px;
}
.mt89 {
	margin-top: 89px;
}
.mt90 {
	margin-top: 90px;
}
.mt91 {
	margin-top: 91px;
}
.mt92 {
	margin-top: 92px;
}
.mt93 {
	margin-top: 93px;
}
.mt94 {
	margin-top: 94px;
}
.mt95 {
	margin-top: 95px;
}
.mt96 {
	margin-top: 96px;
}
.mt97 {
	margin-top: 97px;
}
.mt98 {
	margin-top: 98px;
}
.mt99 {
	margin-top: 99px;
}
.mt100 {
	margin-top: 100px;
}

@media screen and (min-width: 768px) {
	.mt1 {
		margin-top: 0.5px;
	}
	.mt2 {
		margin-top: 1px;
	}
	.mt3 {
		margin-top: 1.5px;
	}
	.mt4 {
		margin-top: 2px;
	}
	.mt5 {
		margin-top: 2.5px;
	}
	.mt6 {
		margin-top: 3px;
	}
	.mt7 {
		margin-top: 3.5px;
	}
	.mt8 {
		margin-top: 4px;
	}
	.mt9 {
		margin-top: 4.5px;
	}
	.mt10 {
		margin-top: 5px;
	}
	.mt11 {
		margin-top: 5.5px;
	}
	.mt12 {
		margin-top: 6px;
	}
	.mt13 {
		margin-top: 6.5px;
	}
	.mt14 {
		margin-top: 7px;
	}
	.mt15 {
		margin-top: 7.5px;
	}
	.mt16 {
		margin-top: 8px;
	}
	.mt17 {
		margin-top: 8.5px;
	}
	.mt18 {
		margin-top: 9px;
	}
	.mt19 {
		margin-top: 9.5px;
	}
	.mt20 {
		margin-top: 10px;
	}
	.mt21 {
		margin-top: 10.5px;
	}
	.mt22 {
		margin-top: 11px;
	}
	.mt23 {
		margin-top: 11.5px;
	}
	.mt24 {
		margin-top: 12px;
	}
	.mt25 {
		margin-top: 12.5px;
	}
	.mt26 {
		margin-top: 13px;
	}
	.mt27 {
		margin-top: 13.5px;
	}
	.mt28 {
		margin-top: 14px;
	}
	.mt29 {
		margin-top: 14.5px;
	}
	.mt30 {
		margin-top: 15px;
	}
	.mt31 {
		margin-top: 15.5px;
	}
	.mt32 {
		margin-top: 16px;
	}
	.mt33 {
		margin-top: 16.5px;
	}
	.mt34 {
		margin-top: 17px;
	}
	.mt35 {
		margin-top: 17.5px;
	}
	.mt36 {
		margin-top: 18px;
	}
	.mt37 {
		margin-top: 18.5px;
	}
	.mt38 {
		margin-top: 19px;
	}
	.mt39 {
		margin-top: 19.5px;
	}
	.mt40 {
		margin-top: 20px;
	}
	.mt41 {
		margin-top: 20.5px;
	}
	.mt42 {
		margin-top: 21px;
	}
	.mt43 {
		margin-top: 21.5px;
	}
	.mt44 {
		margin-top: 22px;
	}
	.mt45 {
		margin-top: 22.5px;
	}
	.mt46 {
		margin-top: 23px;
	}
	.mt47 {
		margin-top: 23.5px;
	}
	.mt48 {
		margin-top: 24px;
	}
	.mt49 {
		margin-top: 24.5px;
	}
	.mt50 {
		margin-top: 25px;
	}
	.mt51 {
		margin-top: 25.5px;
	}
	.mt52 {
		margin-top: 26px;
	}
	.mt53 {
		margin-top: 26.5px;
	}
	.mt54 {
		margin-top: 27px;
	}
	.mt55 {
		margin-top: 27.5px;
	}
	.mt56 {
		margin-top: 28px;
	}
	.mt57 {
		margin-top: 28.5px;
	}
	.mt58 {
		margin-top: 29px;
	}
	.mt59 {
		margin-top: 29.5px;
	}
	.mt60 {
		margin-top: 30px;
	}
	.mt61 {
		margin-top: 30.5px;
	}
	.mt62 {
		margin-top: 31px;
	}
	.mt63 {
		margin-top: 31.5px;
	}
	.mt64 {
		margin-top: 32px;
	}
	.mt65 {
		margin-top: 32.5px;
	}
	.mt66 {
		margin-top: 33px;
	}
	.mt67 {
		margin-top: 33.5px;
	}
	.mt68 {
		margin-top: 34px;
	}
	.mt69 {
		margin-top: 34.5px;
	}
	.mt70 {
		margin-top: 35px;
	}
	.mt71 {
		margin-top: 35.5px;
	}
	.mt72 {
		margin-top: 36px;
	}
	.mt73 {
		margin-top: 36.5px;
	}
	.mt74 {
		margin-top: 37px;
	}
	.mt75 {
		margin-top: 37.5px;
	}
	.mt76 {
		margin-top: 38px;
	}
	.mt77 {
		margin-top: 38.5px;
	}
	.mt78 {
		margin-top: 39px;
	}
	.mt79 {
		margin-top: 39.5px;
	}
	.mt80 {
		margin-top: 40px;
	}
	.mt81 {
		margin-top: 40.5px;
	}
	.mt82 {
		margin-top: 41px;
	}
	.mt83 {
		margin-top: 41.5px;
	}
	.mt84 {
		margin-top: 42px;
	}
	.mt85 {
		margin-top: 42.5px;
	}
	.mt86 {
		margin-top: 43px;
	}
	.mt87 {
		margin-top: 43.5px;
	}
	.mt88 {
		margin-top: 44px;
	}
	.mt89 {
		margin-top: 44.5px;
	}
	.mt90 {
		margin-top: 45px;
	}
	.mt91 {
		margin-top: 45.5px;
	}
	.mt92 {
		margin-top: 46px;
	}
	.mt93 {
		margin-top: 46.5px;
	}
	.mt94 {
		margin-top: 47px;
	}
	.mt95 {
		margin-top: 47.5px;
	}
	.mt96 {
		margin-top: 48px;
	}
	.mt97 {
		margin-top: 48.5px;
	}
	.mt98 {
		margin-top: 49px;
	}
	.mt99 {
		margin-top: 49.5px;
	}
	.mt100 {
		margin-top: 50px;
	}
}
