.p-secTitle {
	width: 100%;
	height: auto;
	position: relative;
}

.p-secTitle__toggleBtnBox {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.p-secTitle__linkToListsBox {
	margin-top: 15px;
}

@media screen and (min-width: 768px) {
	.p-secTitle__linkToListsBox {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		margin-top: 0;
	}
}

/* =============================================================== */

@media screen and (min-width: 768px) {
	.p-calender {
		margin-right: 4px;
	}
}

.p-calender__titleBox {
	width: 100%;
	height: 44px;
	line-height: 44px;
	padding: 0 10px;

	font-size: 1rem;
	font-weight: bold;
	color: #fff;
	background-color: #53565a;
	position: relative;
}

@media screen and (min-width: 768px) {
	.p-calender__titleBox {
		padding: 0;
		height: 60px;
		line-height: 60px;
		font-size: 1.5rem;
		position: relative;
	}
	/* .p-calender__titleBox:before {
		position: absolute;
		top: 50%;
		display: block;
		content: '';
		width: 100%;
		height: 1px;
		border-bottom: 1px solid red;
	} */
}

.p-calender__currentMonth {
	text-align: left;
}

@media screen and (min-width: 768px) {
	.p-calender__currentMonth {
		text-align: center;
	}
}

.p-calender__prevBox,
.p-calender__nextPaginationBox {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.p-calender__prevBox {
	right: 55px;
}

@media screen and (min-width: 768px) {
	.p-calender__prevBox {
		right: auto;
		left: 20px;
	}
}

.p-calender__nextPaginationBox {
	right: 20px;
}

.p-calender__prevMonth,
.p-calender__nextMonth {
	display: none;
	text-align: left;
	padding: 0 10px;
}

@media screen and (min-width: 768px) {
	.p-calender__prevMonth,
	.p-calender__nextMonth {
		display: inline-block;
		vertical-align: middle;
	}
}

.p-calenderTable {
	width: 100%;
}

.p-calenderTable__dayOfWeek {
	font-size: 0.875rem;
	text-align: center;
	width: calc(100% / 7);
	border-bottom: 1px solid #000;
	font-weight: normal;
	padding: 4px 0;
}

@media screen and (min-width: 768px) {
	.p-calenderTable__dayOfWeek {
		font-size: 1.25rem;
	}
}

.p-calenderTable__dayOfWeek:nth-child(odd) {
	background-color: #f2f2f2;
}
.p-calenderTable__dayOfWeek:nth-child(even) {
	background-color: #fafafa;
}

.p-calenderTable__date {
	border-bottom: 1px dotted #000;
	padding: calc(25 / 767 * 100vw) 0;
}

@media screen and (min-width: 768px) {
	.p-calenderTable__date {
		height: 196px;
		padding: 0;
		vertical-align: top;
	}
}

.p-calenderTable__date:nth-child(odd) {
	background-color: #f2f2f2;
}
.p-calenderTable__date:nth-child(even) {
	background-color: #fafafa;
}

.p-calenderTable__number {
	font-family: 'メイリオ', Meiryo, sans-serif;
	font-size: 0.875rem;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.p-calenderTable__number {
		font-size: 1.25rem;
		font-weight: bold;
	}
}

.p-calenderTable__lists {
	display: none;
}

@media screen and (min-width: 768px) {
	.p-calenderTable__lists {
		display: block;
		width: 100%;
		height: calc(100% - 30px);
		overflow-y: scroll;
	}
	.p-calenderTable__lists::-webkit-scrollbar {
		width: 10px;
		height: 10px;
		border-radius: 5px;
	}
	.p-calenderTable__lists::-webkit-scrollbar {
		background-color: #fff;
		border: 1px solid #cdcdcd;
	}
	.p-calenderTable__lists::-webkit-scrollbar-thumb {
		border: 3px solid transparent;
		background-color: #cdcdcd;
		border-radius: 5px;
	}

	.p-calenderTable__lists li {
		width: 100%;
		height: auto;
	}

	.p-calenderTable__lists li a {
		display: block;
		width: 100%;
		height: auto;

		font-size: 0.75rem;
		padding: 5px 10px;
	}
}

.p-calender__popup {
	display: none;
	/* display: block; */
	position: fixed;
	/* top: 50px;
	left: 50px; */
	width: 320px;
	height: 161px;
}

.p-popup {
	background-color: #ff8200;
	z-index: 200;
}

.p-popup__container {
	width: 100%;
	height: 100%;
	padding: 10px 10px 30px;
}

.p-popup__container--area1 {
	position: relative;
}
.p-popup__container--area1:before {
	position: absolute;
	display: block;
	content: '';
	border-left: 15px solid #ff8200;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	bottom: 7px;
	right: -12px;
}
.p-popup__container--area2 {
	position: relative;
}
.p-popup__container--area2:before {
	position: absolute;
	display: block;
	content: '';
	border-right: 15px solid #ff8200;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	bottom: 7px;
	left: -12px;
}
.p-popup__container--area3 {
	position: relative;
}
.p-popup__container--area3:before {
	position: absolute;
	display: block;
	content: '';
	border-left: 15px solid #ff8200;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	top: 7px;
	right: -12px;
}
.p-popup__container--area4 {
	position: relative;
}
.p-popup__container--area4:before {
	position: absolute;
	display: block;
	content: '';
	border-right: 15px solid #ff8200;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	top: 7px;
	left: -12px;
}

.p-popup__title {
	font-size: 0.875rem;
	font-weight: bold;

	padding-bottom: 10px;
	width: 100%;
	border-bottom: 1px dotted #000;
}

.p-popup__excerpt {
	font-size: 0.75rem;
	font-weight: normal;

	padding: 10px 0;
	width: 100%;
}

.p-popup__deadline {
	font-size: 0.75rem;
	font-weight: normal;

	padding: 0;
	width: 100%;
}

/* ======================================================================== */

.p-newsLists {
	display: block;
	border-bottom: 1px solid #d9d9d6;
	padding: 20px 0 5px;
	position: relative;
}

@media screen and (min-width: 768px) {
	.p-newsLists {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 5px 0;
	}
}

@media screen and (min-width: 768px) {
	.p-newsListsHead {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.p-newsListsHead__labelBox {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 210px;
		min-width: 210px;
		margin: 0 10px;
	}

	.p-newsListsHead__sendDate {
		margin-left: 48px;
	}

	.p-newsListsHead__client {
		margin-left: 53px;
	}
	.p-newsListsHead__mainItem {
		margin-left: 10px;
	}
	.p-newsListsHead__deadline {
		margin-left: auto;
		margin-right: 95px;
	}
}

.p-newsLists__labelBox {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

@media screen and (min-width: 768px) {
	.p-newsLists__labelBox {
		width: 210px;
		min-width: 210px;
		margin: 0 10px;
	}
}

.p-newsLists__sendDate {
	margin-left: 10px;
}

@media screen and (min-width: 768px) {
	.p-newsLists__sendDate {
		margin-left: 15px;
	}
}

.p-newsLists__client {
	margin-left: 10px;
}
@media screen and (min-width: 768px) {
	.p-newsLists__client {
		margin-left: 10px;
	}
}

.p-newsLists__mainItemBox {
	margin-top: 5px;
}

@media screen and (min-width: 768px) {
	.p-newsLists__mainItemBox {
		margin: 0 10px;
		flex-shrink: 1;
		flex-grow: 1;
	}
}

.p-newsLists__textExcerpt {
	font-size: 0.875rem;
}

.p-newsLists__textExcerpt:before {
	position: absolute;
	display: block;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 768px) {
	.p-newsLists__textExcerpt {
		font-size: 1rem;
	}
}

.p-newsLists__hashtagBox {
	margin-top: 10px;
}

.p-hashtag {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 5px;
	z-index: 5;
}

.p-hashtag__btn {
	font-size: 0.75rem;
	font-weight: 200;
	padding: 2px 10px;
	background-color: #f5f5f5;
	border-radius: 12px;
	border: 1px solid #d6d6d6;
	color: #53565a;
}
.p-hashtag__btn:hover {
	background-color: red;
}

.p-newsLists__flexendBox {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (min-width: 768px) {
	.p-newsLists__flexendBox {
		margin-top: 0;
		margin-left: auto;
		width: 147px;
		min-width: 147px;
	}
}

.p-newsLists__deadline {
	font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
	.p-newsLists__deadline {
		font-size: 1rem;
		margin-right: 20px;
	}

	.p-newsLists__deadline--first {
		display: none;
	}

	.p-newsLists__clickImage {
		margin-right: 20px;
	}
}

/* =================================================================== */

.c-breadcrumbSP__lists li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.c-breadcrumbSP__lists li a {
	display: inline-block;
	width: inherit;
	height: inherit;
	font-size: 0.875rem;
}

.c-breadcrumbSP__lists li:after {
	display: inline-block;
	content: '/';

	font-size: 0.875rem;
	padding: 0;
	margin: 0;
}
.c-breadcrumbSP__lists li:last-child::after {
	display: none;
}

/* =================================================================== */

.c-breadcrumbPC__lists li {
	display: inline-block;
}
.c-breadcrumbPC__lists li a {
	display: inline-block;

	font-size: 0.875rem;
}

.c-breadcrumbPC__lists li:after {
	display: inline-block;
	content: '/';

	font-size: 0.875rem;
	padding: 0 3px;
}
.c-breadcrumbPC__lists li:last-child::after {
	display: none;
}

/* ==================================================================== */

/* ==================================================== topSwiper*/

.p-topSlider {
	position: relative;
	/* background-color: red; */
	width: 100%;
	height: 75px;
	padding: 0 40px;
}

.swiper {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	/* position: relative; */
}

.p-swiper__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 272px;
	margin-left: auto;
	margin-right: auto;
}

.p-swiper__textBox {
	margin-left: 10px;
}

.p-swiper__imgBox {
	width: 75px;
	height: 75px;
	min-width: 75px;
	min-height: 75px;
}

.p-swiper__excerpt {
	font-size: 1rem;
}

.p-swiper__addBox {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: 10px;
}

.p-swiper__category {
	font-size: 0.75rem;
	font-weight: bold;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	background-color: #53565a;
	width: 94px;
	height: 22px;
}

.p-swiper__date {
	font-size: 0.75rem;
}

.swiper-button-prev,
.swiper-button-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-top: 0;
	display: block;
	width: 30px;
	height: 30px;
	border: 1px solid #53565a;
	border-radius: 50%;
}

.swiper-button-prev {
	left: 0;
}
.swiper-button-next {
	right: 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	position: absolute;
	display: block;
	content: '';
	width: 5px;
	height: 5px;
}
.swiper-button-prev:after {
	border-top: 1px solid #53565a;
	border-left: 1px solid #53565a;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}
.swiper-button-next:after {
	border-top: 1px solid #53565a;
	border-right: 1px solid #53565a;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.p-anchorLink {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	row-gap: 10px;
	column-gap: 10px;
	background-color: #f0f0f0;
	padding: 10px;
}

@media screen and (min-width: 768px) {
	.p-anchorLink {
		padding: 20px;
	}
}

.p-anchorLink li {
	width: calc(calc(100% - 10px) / 2);
	height: auto;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
	.p-anchorLink li {
		width: calc(16.666666% - 8.33333px);
		width: 135px;
	}
}

.p-anchorLink li a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #fff;
	font-size: 0.875rem;
	padding: 8px 0px 30px 0px;
	position: relative;
}
.p-anchorLink li a:after {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	border-right: 2px solid #53565a;
	border-bottom: 2px solid #53565a;
}

.p-sideLinks__lists {
	margin-top: 18px;
}

.p-sideLinks li a {
	display: block;
	padding: 8px 0 7px 20px;
	font-family: 'メイリオ', Meiryo, sans-serif;
	font-size: 0.875rem;
	position: relative;
}

.p-sideLinks li:first-child a {
	padding-top: 0;
}
.p-sideLinks li a:before {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	display: block;
	content: '';
	background-image: url(../img/links_icon.png);
	background-size: contain;
	width: 10px;
	height: 10px;
}

.p-pagenation02 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (min-width: 768px) {
	.p-pagenation02 {
		max-width: 428px;
		margin-left: auto;
		margin-right: auto;
	}
}

.p-pagenation02__link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

@media screen and (min-width: 768px) {
	.p-pagenation02__link--prev {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.p-pagenation02__link--next {
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
	}
}

@media screen and (min-width: 768px) {
	.p-pagenation02__listsImg {
		width: 16px;
		height: 16px;
	}
}

.p-pagenation02__text {
	display: block;
	font-family: 'メイリオ', Meiryo, sans-serif;
	font-size: 1rem;
	font-weight: bold;
	padding: 0;
	margin-top: 20px;
}

@media screen and (min-width: 768px) {
	.p-pagenation02__text {
		margin-top: 5px;
	}
	.p-pagenation02__text--prev {
		margin-top: 0;
		margin-left: 20px;
	}
	.p-pagenation02__text--next {
		margin-top: 0;
		margin-right: 20px;
	}
}

/* ======================================================================================== */
